.experience{
    display: flex;
    flex-direction: column;
    margin: 40px;
    align-items: center;
}



.experience .header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: silk-serif;
    font-size: 52px;
}

.experience .grid-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 28px;
    column-gap: 28px;
    align-items: center;
    max-width: 80rem;
    /* padding: 16px; */
    margin: 36px;
}

.experience .grid-section .items {
   position: relative;
   overflow: hidden;
   height: auto;
   cursor:pointer;
   
}

.experience .grid-section .items .layer {
    color: #ECECEC;
    width: 100%;
    font-family: silk-serif;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 60px;
    text-align: center;
    font-size: 3rem;
    transition: opacity 0.5s; /* Transition for opacity */
    opacity: 0; /* Hidden by default */
}

.experience .grid-section .items:hover .layer {
    opacity: 1; /* Show text on hover */
}

.experience .grid-section .items img {
    width: 100%; 
    border-radius: 30px;
    padding: 5px;
    display: block;
    opacity: 1; /* Fully visible by default */
    transition: all 0.5s ease-in-out; /* Transition for all properties */
    cursor: pointer;
}

.experience .grid-section .items:hover img {
    opacity: 0.2; /* Decrease opacity on hover */
}

.experience .grid-section .items:hover .layer {
    opacity: 1; /* Show text on hover */
}



.experience .button-container{
    display: flex;
    justify-content: center;
}

.experience .button-container button{
    padding: 20px;
    background-color: #ECECEC;
    color: black;
    font-size: 2rem;
    font-family: work sans-light;
    border-radius: 28px;
    cursor: pointer;
    border: none;
    font-weight:600;
}