.membership{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}



.membership .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
}

.membership .content .header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: silk-serif;
    font-size: 52px;
}




.membership .membership-content{
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}

.membership .membership-content .item{
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding: 20px;
    background-color: #ececec;
    color: #1C1C1C;
}

.membership .button{
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membership .button button{
    border: none;
    padding: 16px;
    font-size:28px;
    /* font-weight: bolder; */
    border-radius: 24px;
    color: #ececec;
    background-color: #1C1C1C;
    
}

.item-heading{
    font-size: 32px;
    font-weight: 600;
}

.membership .membership-content .item .item-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.membership .crypto-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: silk-serif;
    font-size: 3rem;
    margin: 44px;
    background-color: #ececec;
    color: #1C1C1C;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.crypto-tag span{
  
    font-weight:bolder
}