.membership{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}



.membership .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
}

.membership .content .header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Silk Serif Light";
    font-size: 32px; 

}




.membership .membership-content{
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}

.membership .membership-content .item{
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding: 20px;
    background-color: #ececec;
    color: #1C1C1C;
}

.membership .button{
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .membership .button button{
    border: none;
    font-size:20px;
    background: #ececec;
} 

.item-heading{
    font-size: 32px;
    font-family: "Silk Serif Light";
}

.membership .membership-content .item .item-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.membership .crypto-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    font-family: "Silk Serif Light";
    font-size: 18px;
    margin: 44px;
    color: #ececec;
    padding: 4px 12px;
    border-radius: 28px;
    margin-top: 60px;
}

.crypto-tag span{
    font-weight:bolder;
    font-style:italic;
}