@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.form-container {
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    color: #1c1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container h1{
    margin: 20px;
    margin-bottom: 40px;
    font-family: "Silk Serif Light";
}
.form-groud input ::placeholder{
  font-family: sans-serif;
}

  form{
    width: 600px;
  }


  .form-group {
    margin-bottom: 40px;
  }
  
  input[type='text'],
  input[type='tel'],
  input[type='email'],
  textarea {
    width: 100%;
    padding: 8px 4px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc; /* Only one underline */
    outline: none;
    transition: border-color 0.2s ease-in-out;
  }
  
  input[type='text']:focus,
  input[type='tel']:focus,
  input[type='email']:focus,
  textarea:focus {
    border-bottom: 1px solid #1c1c1c; /* Change underline color on focus */
  }
  
  .form-container button {
    background-color: #1c1c1c;
    color: #ececec;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
  }
  
  button:hover {
    background-color: #1c1c1c;
  }
  
  .form-group-button{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }