.enquiry-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.enquiry-form .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60rem;
    padding: 12px;
    background-color: #ececec;
    color: #1c1c1c;
}

.enquiry-form .container .header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 8px;
    margin-bottom: 18px;
}

.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 25px;
    font-weight: 300;
}

form{
    width: 50rem;
}

form .info{
    display: flex;
    gap: 15px;
    padding: 15px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
select
{
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



