.experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding: 20px; /* Add some padding for smaller screens */
}

.luxe {
    width: 100%;
    padding: 20px;
}

.luxe .header-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: silk-serif; */
    font-size: 2rem; /* Adjust font size for responsiveness */
    padding: 20px;
}

.luxe-render{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 7rem;
    margin-bottom: 10px;
    height: 80%;
}

.slider-back {
    padding: 10px;
    border: none;
    position: relative;
    margin-top: 16px;
    margin-bottom: 40px;
}

.container-slider {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #ececec; */
    color: #1C1C1C;
    margin: 0 10px;
}




.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 20px; /* Match container's border radius */
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1; /* Ensure it is on top of the image */
    border-radius: 20px; /* Match container's border radius */
}

.image-container img {
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    z-index: 0; /* Ensure the image is below the overlay */
    position: relative;
}

.heading-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 1rem; /* Adjust font size for responsiveness */
    text-align: center;
    pointer-events: none; /* Ensure it doesn't interfere with hover */
    z-index: 2; /* Ensure it's on top of the overlay */
    font-family: "Work Sans light", sans-serif;
}
.luxe .header-cont{
    font-family: "Silk Serif";
    font-size: 28px;
}



.head {
    font-size: 40px;
    font-family: "Silk Serif";
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 28px;
    /* margin-bottom: 36px; */
}



/* Media Queries */
@media (max-width: 1200px) {
    .luxe .header-cont {
        font-size: 2.5rem;
    }
    .heading-cont {
        font-size: 1.5rem;
    }
    
}

@media (max-width: 992px) {
    .luxe .header-cont {
        font-size: 2rem;
    }
    .heading-cont {
        font-size: 1.25rem;
    }
    
}

@media (max-width: 768px) {
    .experience-container {
        flex-direction: column;
    }
    .luxe {
        width: 90%;
    }
    .luxe .header-cont {
        font-size: 1.75rem;
    }
    .heading-cont {
        font-size: 1rem;
    }
   
}

@media (max-width: 576px) {
    .luxe .header-cont {
        font-size: 1.5rem;
    }
    .heading-cont {
        font-size: 0.75rem;
    }
   
}

