.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: flex-end;
    }
    
   .navbar .left{
        margin: auto 70px;
    }   
    
   .navbar .left .navbar-menu{
        display: flex;
        list-style: none;
        gap: 35px;
        font-size: 18px;
    }
    
   .navbar .left .navbar-menu li{
        cursor: pointer;
    }
    
   .navbar .left .navbar-menu .active{
        padding-bottom: 2px;
        border-bottom: 2px solid #ECECEC;
    }