.relocation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider-back {
    padding: 10px;
    border: none;
    position: relative;
    
}
.coporate-content{
    margin-top: 20px;
    padding-left: 62px;
    padding-right: 62px;
  }
  .relocation .img-corporate h1{
    font-family: "Silk Serif";
    font-size: 40px;
}

.relocation .coporate-content p{
 font-family: "Work Sans Light", sans-serif;
 font-size: 20px;
}
  
.container-slider {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    color: #1C1C1C;
    margin: 0 10px;
    
}
