.relocation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider-back {
    padding: 10px;
    border: none;
    position: relative;
    
}

.luxe-render {
    margin-top: 60px;
}

.coporate-content{
    margin-top: 20px;
    padding-left: 62px;
    padding-right: 62px;
    text-align: center;
    justify-content: center;
  }
  .relocation .header{
    font-family: "Silk Serif Light";
    font-size: 62px;
}

.relocation .coporate-content {
 font-family: "Work Sans Light", sans-serif;
 font-size: 24px;
}
  
.container-slider {
    /* border-radius: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #ececec; */
    color: #1C1C1C;
    margin: 0 10px;
    
}
.relocation .header{
    margin-top: 30px;
}

.relocation-contactus-content{
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    margin-bottom: 48px;
}