@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.middle-content-company{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items:  center;
    margin-bottom: 88px;
    /* background-color: rgb(221, 219, 219); */
    /* color: black; */
    width: 80rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    padding: 16px;
}

.middle-content-company .header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Silk Serif Light";
    font-size: 32px;
}

.middle-content-company .content-company{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 28px;
    row-gap: 28px;
    margin-top: 60px;
    width: 60rem;
}

.content-company .quote-grid{
    padding: 8px;
    background-color: white;
    color: black;
    padding:20px;
    border-left:8px solid gray;
    /* border-right:8px solid gray; */
    border-radius: 12px;
}
.span-head{
    font-family: "Work Sans Medium", sans-serif;
    font-size: 20px;
}

.quote-grid .span-tag{
    font-family: "Work Sans", sans-serif;
    font-weight: 300; 
    font-size: 18px;
}