.middle-content{
    display: flex;
    flex-direction: column;
    margin-top: 72px;
align-items:  center;
}

.middle-content .header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: silk-serif;
    font-size: 30px;
}

.middle-content .content{
    height: 100px;
    width: 1420px;
    border: 2px solid white;
}