.time-quote .header{
    font-family: "Silk Serif";
text-align: center;
}


.time-quote .header h2{
    font-size: 40px;
    font-style: italic;
}

.time-quote .header p{
    margin-top: 4px;
    margin-left: 240px;
}

.time-quote .header span{
    font-size: 44px;
}