.navbar-fixed-want{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-fixed-want .left{
    width: 50%;
}

.navbar-fixed-want .left img{
    width: 62%;
}

.navbar-fixed-want .right{
    width: 40%;
    margin-right: 40px;
    color: #ececec;
    display: flex;
    font-size: 32px;
}

.navbar-fixed-want .right .navbar-menu{
    display: flex;
    gap: 20px;
}