@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.navbar-fixed-want {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 10;
    transition: background-color 0.3s;
    font-family: 'Work Sans', sans-serif;
    height: 160px;
}

.navbar-fixed-want .left {
    width: 50%;
    display: flex;
    margin-left: 16px;
    padding: 4px;
}

.navbar-fixed-want .left img {
    width: 62%;
    height: 100%;
}

.navbar-fixed-want .right {
    width: 40%;
    color: #ececec;
    display: flex;
    font-size: 32px;
    margin-right: 40px;
}

.navbar-fixed-want .right .navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 25px;
    font-size: 24px;
}

.navbar-fixed-want .right .navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #ececec;
}

.navbar-fixed-want.fixed {
    position: fixed;
    background-color: #1C1C1C;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: none;
}

