@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    position: relative; 
    padding-top: 60px; /* Adjust this to the height of your fixed navbar */
}



.contacts svg {
    margin-left: 8px;
}
.contacts-button{
    transition: all ease-in 0.3s;
}

.contacts-button:hover, svg{
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: #ececec;
}



.navbar .contacts-button {
    padding: 14px 16px;
    /* background-color: #ECECEC;
    color: black; */
    background:transparent;
    color: white;
    border: 2px solid white;
    font-size: 24px;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    border-radius: 28px;
    cursor: pointer;
    /* border: none; */
    font-weight: 350;
}

.navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; /* Reduce the padding to decrease height */
    position: relative; /* Default position to be on top of the video */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    background-color: transparent; /* Initial transparent background */
    z-index: 10; /* Ensure it stays on top */
    transition: background-color 0.3s; /* Smooth transition for background color change */
    font-family: "Work Sans", sans-serif;
}

.navbar-top.fixed {
    position: fixed; /* Fix the navbar to the top when scrolling */
    background-color: #1C1C1C; /* Black background when fixed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Optional shadow for better visibility */
    /* height: 18%; */
}

.right {
    display: flex;
    margin-left: 16px;
    width: 20rem;
    padding: 4px;
}

.right img {
    width: 100%; /* Adjust if needed */
}

.video-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.5;
    width: 100%;
}

.navbar .left {
    padding: 16px; /* Adjust padding to fit the new height */
    margin-right: 40px;
    color: #ececec;
    display: flex;
    font-size: 32px;
}

.navbar .left .navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 25px; /* Adjust gap if needed */
    font-size: 1.25rem; /* Reduce font size if needed */
}

.navbar .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 40px;
}

.contact-text {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar .left .navbar-menu li {
    cursor: pointer;
}

.navbar .left .navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #ececec;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #1C1C1C;
}

video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
