@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.footer{
    display: flex;
     margin-top: 12px;
  
}

.contacts-footer{
    cursor: pointer;
}

.last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #e2e0e0;
    margin-top: 60px;
}
.footer .left{
    width: 40%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright{
    margin: 20px;
    font-size: 32px;
}

.left .image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .left .icons{
    display: flex;
    justify-content: center;
    width: 90%;
}

.left .icons svg{
height: 60%;
width: 80%;
}

.footer .left img{
    width: 100%;
}

.footer .right{
    width: 60%;
}

.footer .right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 16px;
    margin: 20px;
    margin-right: 52px;
}

.icons-svg{
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
    border-radius:50%;
}

svg{
    cursor: pointer;
}
.account{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.account h1{
    font-family: "Silk Serif Light";
    font-size: 32px; 
}

.account p{
    font-family: "Work Sans Light", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.contactus{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contactus p{
    font-family: "Work Sans Light", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.contactus h1{
    font-family: "Silk Serif Light";
    font-size: 32px; 
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.information h1{
    font-family: "Silk Serif Light";
    font-size: 32px; 
}

.information p{
    font-family: "Work Sans Light", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.copyright{
    font-family: "Silk Serif Light";
    font-size: 8px;
}