.aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about-below {
    width: 80rem;
  }
  
  .about-below .header {
    display: flex;
    justify-content: center;
    font-family: "Silk Serif Light";
    font-size: 32px;
  }
  
  .about-below .reclaim-time .header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Silk Serif Light";
    font-size: 32px;
  }
  
  .about-below .reclaim-time .text {
    display: flex;
    text-align: center;
    font-family: "Work Sans Light", sans-serif;
    font-size: 20px;
    margin-top: 16px;
  }
  
  .about-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .about-middle .middle-left {
    width: 50%;
    padding: 12px;
  }
  
  .about-middle .middle-right {
    width: 50%;
  }
  
  .bottom-top .header {
    margin-bottom: 20px;
  }
  
  .bottom-top-inside {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 108px;
    margin: auto;
    width: 80rem;
  }
  
  .flex {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
  }
  
  .flex .icon {
    width: 60px; /* Adjust the size as needed */
    height: auto;
    margin-right: 20px;
  }
  
  .flex .text-content {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #3b3c44;
    padding-left: 16px;
  }
  
  .flex .heading {
    font-size: 32px;
    font-family: "Silk Serif Light";
    margin-bottom: 8px;
  }
  
  .flex .text{
    font-family: "Work Sans Light", sans-serif;
    font-size: 20px;
  }

  .bottom-about {
    display: flex;
    margin-top: 32px;
  }
  
  .bottom-about .left {
    width: 50%;
  }
  
  .bottom-about .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  
  .bottom-about .heading {
    font-size: 32px;
    font-family: "Silk Serif Light";
    margin-bottom: 16px;
  }
  
  .grid-right {
    display: flex;
    flex-direction: column;
  }
  
  .grid-right .heading {
    font-size: 24px;
    font-family: "Silk Serif Light";
    margin-bottom: 16px;
  }
  
  .bottom-about .text {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
  }
  
  .middle-left-top .heading {
    font-size: 28px;
    font-family: "Silk Serif Light";
  }
  
  .middle-left-top .text {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    margin-top: 8px;
  }
  
  .middle-left-bottom .heading {
    font-size: 28px;
    font-family: "Silk Serif Light";
    margin-top: 20px;
  }
  
  .middle-left-bottom .text {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-top: 8px;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .middle-right img{
    width: 50%;
    height: 50%;
    border-radius: 30px;
    margin-left: 200px;
  }
  .bottom-about img{
    width: 70%;
    height: 70%;
    border-radius: 30px;
    margin-left: 100px;
  }